h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 120%;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
}

h5 {
}
h6 {
}
p {
}
.main {
  overflow: hidden;
}

.button {
  font-family: $mainFont;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: $gray;
  padding: 18px 22px;
  border-radius: 5px;
  background-color: $main2;
  position: relative;
  &.primary {
    box-shadow: 0 3px $main2;
    &:active {
      box-shadow: none;
      transform: translateY(3px);
    }
  }
  &:hover {
    opacity: 1;
    color: $white;
  }
}
.tooltip {
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  padding: 7px 15px;
  white-space: nowrap;
  background-color: rgba($main2, 0.9);
  border-radius: 3px;
  font-size: 12px;
  line-height: 100%;
  transform: translateX(-50%);
  text-transform: none;
  color: $gray !important;
  box-shadow: 0px 4px 4px 0px #00000021;
  transition: 0.3s ease;
  &::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba($main2, 0.9);
    content: "";
  }
}
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
