// colors
$primary: #4b73ff;
$main: #0e0e0e;
$main2: #141617;
$black: #000;
$white: #fff;
$white2: #dddddd;
$gray: #878787;
// fonts
$mainFont: "Syne", sans-serif;
$ibmPLex: "IBM Plex Mono", monospace;
